<footer class="container-fluid footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <a class="github-button" href="https://github.com/aviks" data-size="large" data-show-count="true" aria-label="Follow @aviks on GitHub">Follow @aviks</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <a class="github-button" href="https://github.com/aviks/Julia-High-Performance" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star aviks/Julia-High-Performance on GitHub">Star</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <a href="https://twitter.com/aviksengupta?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @aviksengupta</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
    <br />
  </footer>
