<!-- jumbotron -->
<!-- <div class="container"> -->
  <div class="jumbotron paral" style="text-align: center;" id="main-jumbo">
    <div class="container page-heading">
      <h1 class="display-5 main-heading">
        Julia High Performance
      </h1>

      <h4 class="secondary-heading">
        2nd Edition
      </h4>

      <h3 class="secondary-heading" style="color:white">
        Optimizations, distributed computing, multithreading, and GPU programming with Julia 1.0 and beyond.
      </h3>
<!--
      <p class="lead secondary-heading">
        Julia is a highly productive language that runs fast
      </p>
-->
      <div class="row py-2">
        <div class="col-lg-3 col-md-5 col-sm-5 ml-auto">
          <div class="dropdown">
            <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View Code
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/code/Chapter01.html">Chapter 1</a>
              <a class="dropdown-item" href="/code/Chapter02.html">Chapter 2</a>
              <a class="dropdown-item" href="/code/Chapter03.html">Chapter 3</a>
              <a class="dropdown-item" href="/code/Chapter04.html">Chapter 4</a>
              <a class="dropdown-item" href="/code/Chapter05.html">Chapter 5</a>
              <a class="dropdown-item" href="/code/Chapter06.html">Chapter 6</a>
              <a class="dropdown-item" href="/code/Chapter07.html">Chapter 7</a>
              <a class="dropdown-item" href="/code/Chapter08.html">Chapter 8</a>
              <a class="dropdown-item" href="/code/Chapter09.html">Chapter 9</a>
              <a class="dropdown-item" href="/code/Chapter10.html">Chapter 10</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-5 mr-auto">
          <a class="btn btn-primary btn-lg btn-block" href="https://mybinder.org/v2/gh/aviks/Julia-High-Performance/master" role="button">Run Code on Binder</a>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-lg-3 col-md-5 col-sm-5 docs ml-auto">
          <a class="btn btn-success btn-lg btn-block" href="https://www.packtpub.com/application-development/julia-10-high-performance" target="_blank" role="button">Buy from Packt</a>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-5 docs mr-auto">
          <a class="btn btn-success btn-lg btn-block" href="https://www.amazon.co.uk/Julia-High-Performance-Avik-Sengupta/dp/178829811X/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1560172876&sr=8-6" target="_blank" role="button">Buy from Amazon</a>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- end jumbotron -->
