<!-- blog -->
<div class="container">
    <br /><br />

    <div class="row">
      <div class="col-lg-4 col-md-3 chapters "><hr/></div>
      <div class="col-lg-4 col-md-6 chapters section-heading">
        <h2 class="lead secondary-heading">
          Praise for the book
        </h2>
      </div>
      <div class="col-lg-4 col-md-3 chapters"><hr/></div>
    </div>

    <br />

    <div class="row">
      <div class="col-lg-4 col-md-12 blog">
        <h3>
          <a href="{{ post.url }}" class="title">Alan Edelman</a>
        </h3>
        <span class="article-date">Professor, MIT and co-creator, Julia</span>
        <p>
          With Julia High Performance, you'll pick up the key essentials of Julia in no time. You can then join the friendly, fast growing, online community of Julia programmers.
          Welcome to the world of Julia! Read this book and you will soon join us in loving the Julia language.
        </p>
      </div>
    </div>

      <br />

      <div class="row">
        <div class="col-12" style="text-align: center">
          <a class="btn btn-lg btn-outline-primary" href="https://www.amazon.co.uk/review/create-review/ref=cm_cr_dp_d_wr_but_top?ie=UTF8&channel=glance-detail&asin=178829811X">Write a Review</a>
        </div>
      </div>

  </div>
  <!-- end blog -->
